<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assetes/css/main.css">
    <title>Platzi-Video</title>
</head>

<body>
    <header class="header">
        <img src="../assetes/img/logo-platzi-video-BW2.png" alt="Logo Platzi video" class="header__img">
        <nav class="header__menu">
            <div class="header__menu--profile">
                <img src="../assetes/img/user-icon.png" alt="User">
                <p>Perfil</p>
            </div>
            <ul>
                <li><a href="">Cuenta</a></li>
                <li><a href="">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="main__section">
            <h2 class="main__section--title">¿Qué quieres ver hoy?</h2>
            <input class="main__section--input" type="text" placeholder="Buscar...">
        </section>
    </main>
</body>

</html>